@use '../abstracts/' as *;

* {
    font-family: $ff-main;
}

.title {
    @include neutral-bold;
}

.description, .rating, .accent {
    @include neutral-regular;
}

.accent {
    @include primary-regular;
}

.button {
    color: $clr-neutral-100;
    font-size: $size-400;
    font-weight: $fw-regular;
}