@use '../abstracts/' as *;

button {
    border: none;

}

.button {
    background-color: $clr-primary-500;
    border-radius: 20px;
    font-size: .75rem;
    padding: .5rem 6rem;
    width: 100%;

    cursor: pointer;
}

.button:where(:hover, :focus) {
    background-color: $clr-neutral-100;
    color: $clr-primary-500;
}